.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}
.cartItem_img {
    width: 250px;
    /* height: 200px; */
    border-radius: 10px;
    margin-left: -12px;
}
.container3 {
    padding-left: 20px;
}
.cartItem_title, .cartItem_price, .cartItem_qty, .cartItem_delete {
    font-weight: bold;
}
.container3 {
    padding: 20px;
}
.cartItem_qty_input {
    width: 60px;
}
.cartItem_delete {
    margin-left: 20%;
    width: 60%;
    background-color: white;
    padding: 2px;
}
